<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- App setings for messaging connections -->
    <add key="iotHubUri" value="{Your endpoint from azure iot hub - tiplicaly: somethingthatyouhavechoose.azure-devices.net}" />
    <add key="deviceKey" value="{Your device key created with CreateDeviceIdentity project}" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>