<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- App setings for messaging connections -->
    <add key="connectionString" value="{Copy and paste your key fom azure portal - iothubowner role}" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>